.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 380px;

  &__title {
    text-align: center;
    font-size: 30px;
    padding-bottom: 24px;
    color: $white;
  }

  input {
    width: 100%;
    font-size: 13px;
    padding: 9px 0 9px 12px;
    background: #f0f0f0;
  }
}
