.btn {
  padding: 10px 12px;
  font-size: 15px;
  color: $white;
  transition: $ease-in;

  &:enabled:hover {
    background-color: $light;
    color: $black;
  }
}

.primary-btn {
  background-color: $primary;
}

.secondary-btn {
  background-color: $secondary;
}
