.addUser {
  .backdrop {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);

    .AddUserForm {
      display: flex;
      flex-direction: column;
      min-width: 380px;
      margin: auto;

      input {
        margin-bottom: 10px;
        padding: 6px 0 6px 9px;
        background: #f0f0f0;
      }
    }
  }
}
