.UserItem {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 7px 2px 7px 12px;
  margin-bottom: 5px;
  color: #fff;

  .name {
    font-size: 21px;
    margin-bottom: 4px;
    font-weight: bold;
  }

  .buttons {
    display: flex;
    align-items: center;
  }

  button {
    margin-right: 10px;
    padding: 10px 12px;
    font-size: 17px;
    border-radius: 5px;
    color: #fff;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }

  .inputs {
    display: flex;
    align-items: center;
  }

  input {
    padding: 6px 0 6px 9px;
    margin-right: 8px;
    border-radius: 5px;
    background: #f0f0f0;
  }

  .edit {
    background-color: #248f40;
  }

  .save {
    background-color: #3e94d1;
  }

  .remove {
    background-color: #be2f33;
  }
}
