$white: #ffffff;
$lg-grey: #f0f0f0;
$black: #000000;
$md-black: rgba(0, 0, 0, 0.7);
$blue: #2884f6;
$green: rgb(161, 240, 69);
$md-green: rgba(161, 240, 69, 0.7);
$red: #ff7373;
$md-red: rgba(240, 87, 108, 0.8);
