.Layout {

  height: 100vh;
  padding: 0 15px;
  background: -webkit-linear-gradient(114deg, #415b62, #506f77, #5b7f88);
  background: linear-gradient(114deg, #415b62, #506f77, #5b7f88);
  overflow: auto;

  main {
    flex-grow: 1;
  }
}


