.Search {
  width: 100%;
  max-width: 860px;
  padding: 15px 0;

  input {
    width: 100%;
    padding: 12px 0 12px 9px;
    margin-right: 8px;
    border-radius: 5px;
    background: #f0f0f0;
    font-size: 15px;
  }
}
